@import "./mq";

$em-base: 16px !default;
$mq-breakpoints: (
  small: 426px,
  medium: 890px,
  large: 1281px,
  x-large: 1376px,
);

@function strip-unit($value) {
  @return ($value / ($value * 0 + 1));
}

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-unit($pxval);
  }

  $base: $em-base;
  @if not unitless($base) {
    $base: strip-unit($base);
  }

  @return ($pxval / $base) * 1rem;
}

@function grid-units($units: 1) {
  @return calc(var(--grid-size) * #{$units});
}

// https://github.com/twbs/bootstrap/blob/a4a04cd9ec741050390746f8056cc79a9c04c8df/scss/mixins/_screen-reader.scss
@mixin sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@mixin box-with-shadow {
  background-color: var(--color-neutral-light);
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2),
    inset 0 -1px 0 0 var(--color-gray-medium);
  border-radius: 3px;
  padding: grid-units(2);
}

@mixin header-aligned {
  @include mq($from: medium) {
    padding-left: grid-units(12);
  }
}
