@import "./mq";

$em-base: 16px !default;
$mq-breakpoints: (
  small: 426px,
  medium: 890px,
  large: 1281px,
  x-large: 1376px,
);

@function strip-unit($value) {
  @return ($value / ($value * 0 + 1));
}

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-unit($pxval);
  }

  $base: $em-base;
  @if not unitless($base) {
    $base: strip-unit($base);
  }

  @return ($pxval / $base) * 1rem;
}

@function grid-units($units: 1) {
  @return calc(var(--grid-size) * #{$units});
}
