@import "utils";

html {
  --grid-size: #{rem(8)};

  --color-blue: #067cca;
  --color-accent: var(--color-blue);

  --color-neutral-light: #fff;
  --color-neutral-dark: #000;

  --color-gray-light: #f6f7f9;
  --color-gray-medium: rgba(0, 0, 0, 0.12);
  --color-gray-dark: rgba(0, 0, 0, 0.6);

  --font-stack-sans-copy: "Open Sans", sans-serif;
  --font-stack-sans-heading: "Libre Franklin", sans-serif;

  --font-weight-light-heading: 200;
  --font-weight-medium-heading: 600;
  --font-weight-bold-heading: 800;

  --font-weight-light-copy: 300;
  --font-weight-regular-copy: 400;

  --font-size-small-copy: #{rem(12)}; // tags
  --font-size-medium-copy: #{rem(15)}; // cards
  --font-size-large-copy: #{rem(18)}; // quotes, jumbo

  --font-size-small-heading: #{rem(18)}; // h3, card title
  --font-size-medium-heading: #{rem(20)}; // h2, section title
  --font-size-large-heading: #{rem(30)}; // h1, main title

  --line-height: 1.6;

  --vertical-space-x-large: #{grid-units(4)};
  --vertical-space-large: #{grid-units(4)};

  @include mq($from: small) {
    --font-size-large-copy: #{rem(20)}; // quotes, jumbo
    --font-size-medium-heading: #{rem(24)}; // h2, section title
    --font-size-large-heading: #{rem(36)}; // h1, main title
  }

  @include mq($from: large) {
    --vertical-space-x-large: #{grid-units(8)};
    --vertical-space-large: #{grid-units(5.5)};
  }
}

body {
  margin: 0;
  color: var(--color-neutral-dark);
  background: var(--color-gray-light) url("../images/circuit-board.png") repeat;
  font-family: var(--font-stack-sans-copy);
  font-weight: var(--font-weight-light-copy);
  line-height: var(--line-height);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-stack-sans-heading);
  font-weight: var(--font-weight-bold-heading);
}

h1 {
  font-size: var(--font-size-large-heading);
  line-height: 1;
}

h2 {
  font-size: var(--font-size-medium-heading);
}

h3 {
  font-size: var(--font-size-small-heading);
  font-weight: var(--font-weight-medium-heading);
  margin-bottom: grid-units(1);
}

hr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1.05rem;
  margin: 0;
  border: 0;
  position: relative;
  color: var(--color-gray-dark);
  font-weight: var(--font-weight-regular-copy);

  &::before {
    content: "";
    margin: 0.5rem auto 0;
    width: 100%;
    height: 1px;
    max-width: grid-units(70);
    background-color: currentColor;
  }

  &::after {
    content: "¯\\_(ツ)_/¯";
    position: absolute;
    top: 0;
    text-align: center;
    background-color: var(--color-gray-light);
    padding: 0 grid-units(1);
    line-height: 1;
  }
}
