@import "../styles/utils.scss";

$gridItemMinWidth: 296px;

.jumboText {
  font-size: var(--font-size-large-copy);
  font-weight: var(--font-weight-light-copy);
  padding-left: grid-units(12);
  max-width: grid-units(95.5); // 764
}

.projectList {
  padding-top: grid-units(4);
  padding-left: grid-units(12);
}

.gridList {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($gridItemMinWidth, 1fr));
  grid-gap: grid-units(2);
}

.gridItem {
  flex: 1 1 $gridItemMinWidth;
}
