@import "../styles/utils";

$gridItemMinWidth: 288px;

.headerAligned {
  @include mq($from: medium) {
    padding-left: grid-units(12);
  }
}

.jumboText {
  composes: headerAligned;
  font-size: var(--font-size-large-copy);
  font-weight: var(--font-weight-light-copy);
  max-width: grid-units(95.5); // 764
  margin-bottom: var(--vertical-margin-x-large);

  p {
    margin-top: 0;
  }
}

.projectList {
  composes: headerAligned;
  margin-bottom: var(--vertical-margin-large);
}

.gridList {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($gridItemMinWidth, 1fr));
  grid-gap: grid-units(2);
}

.gridItem {
  flex: 1 1 $gridItemMinWidth;
}
