@import "../styles/utils";

.root {
  display: flex;
  flex-direction: column;
  @include box-with-shadow;
}

.title {
  margin: 0 0 0.5rem;
  vertical-align: middle;
  display: flex;
  flex-direction: row-reverse;
}

.textLink {
  flex: 1;
}

.icon {
  width: 1rem;
  margin-right: grid-units(1);
}

.iconLink {
  color: var(--color-neutral-dark);
  opacity: 0.6;

  &[href]:hover {
    opacity: 1;
  }
}

.summary {
  font-size: var(--font-size-medium-copy);
  margin-top: 0;
  flex: 1;
}

.bottom {
  margin-left: grid-units(-2);
  margin-right: grid-units(-2);
  padding: grid-units(2) grid-units(2) 0;
  border-top: 1px solid var(--color-gray-medium);
}
