@import "../styles/utils";

.root {
  display: flex;
  align-items: center;
  margin-bottom: grid-units(4);
}

.image {
  flex: none;
  margin-right: grid-units(2);
  width: #{rem(60)};
  height: #{rem(60)};
  border-radius: 4px;

  @include mq($from: small) {
    width: #{rem(80)};
    height: #{rem(80)};
  }
}

.mainTitle,
.subTitle {
  margin: 0;
  line-height: 1.2;
}

.subTitle {
  font-size: var(--font-size-medium-heading);
  font-weight: var(--font-weight-light-copy);
}
