@import "../styles/utils";

.root {
  max-width: grid-units(160); // 1280px
  margin: 0 auto;
  padding: var(--vertical-margin-x-large) grid-units(2);
  box-sizing: border-box;

  @include mq($from: x-large) {
    transform: translateX(grid-units(-6));
  }
}
