@import "../styles/utils.scss";

.root {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  color: var(--color-gray-dark);
}

.item {
  font-size: var(--font-size-small-copy);
  line-height: #{rem(21)};
  padding-left: grid-units(0.5);
  padding-right: grid-units(0.5);
  border-radius: 2px;
  margin-right: grid-units(1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
